.mat-toolbar{
  display: flex;
  justify-content: space-between;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 125px;
}

.mat-card-actions {
  justify-content: center;
}

td {
  width: 630px;
  padding: 1rem;
}

th {
  padding: 1rem;
}

.solicitation-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
