.create__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #FFF0F5;


  &__container__submit__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__submit__button {
    padding: 1rem 3rem;
    width: 15%;
  }

  &__mat__card__content{
    background: #FFF0F5;
    height: 100%;
  }


  &__back__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
  }

}

.action-column {
  flex: 0 0 125px;
}

mat-card{
  height: 93%;
  box-sizing: border-box;
}
